@import '../../node_modules/modern-normalize/modern-normalize.css';

@font-face {
  font-family: 'Avenir';
  font-weight: 400;
  font-style: normal;
  src: url('/avenir-400.woff2') format('woff2');
  font-display: swap;
}

body {
  font-family: 'Avenir', Tahoma, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.65;
  color: #373f49;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

a {
  color: currentColor;
}
